@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Condensed:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

::selection {
  background: #ec1c29;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  padding: 2.5rem 5rem 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer.main-page {
  position: fixed;
  bottom: 0;
  padding: 5.7rem 5rem 0;
  width: 100%;
}

footer.main-page .footer-container {
  height: 5.5rem;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #fff;
}

.cd-vertical-nav li {
  list-style: none;
}

a.tile-button {
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 2rem;
  background: none;
  border: 2px solid #ec1c29;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 17px 0px #ec1c29;
  box-shadow: 0 0 0 #ec1c29;
  transition: all .2s ease-in-out;
}

a.tile-button:hover {
  background: #ec1c29;
  box-shadow: 0 2px 10px #ec1c29;
}

.menu-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 75rem;
    z-index: 8;
}

.menu-item {
    position: relative;
    width: 50%;
    height: 50%;
    background-image: url(https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 45%);
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.menu-content {
    position: absolute;
    right: 6rem;
    top: 5rem;
    text-align: right;
    color: #fff;
    font-size: 1.5rem;
}

.menu-content h3 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .1em;
  }
  
  .menu-content ul {
    padding: 0;
  }
  
  .menu-content ul>li {
    font-family: Roboto Condensed;
    list-style: none;
    padding: .3rem 0;
    margin-bottom: 1.6rem;
  }
  
  .menu-content ul>li:last-child {
    margin-bottom: 0;
  }


@keyframes trs {
    0% {
      background: rgb(255, 255, 255);
      transform: scale(1, 0);
      transform-origin: 100% 0%;
    }
    50% {
      background: rgb(255, 255, 255);
      transform: scale(1, 1);
      transform-origin: 100% 0%;
    }
    51% {
      background: rgb(255, 255, 255);
      transform: scale(1, 1);
      transform-origin: 0% 100%;
    }
    100% {
      background: rgb(255, 255, 255);
      transform-origin: 0% 100%;
      transform: scale(1, 0);
    }
  }

.section-slider-content {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-section-header {
  font-size: 6rem;
  text-transform: uppercase;
}

#main-video {
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
}

.tiles-container {
  display: flex;
  position: relative;
}

.container-reverse {
  flex-direction: row-reverse;
}

.tile-video {
  display: flex;
  width: 66.66%;
  height: 100vh;
  position: relative;
}

.tile-images {
  display: flex;
  width: 33.33%;
  height: 100vh;
  flex-wrap: wrap;
}

.tile-image {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tile-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

#section-1-tile-1 {
  background-image: url('../../public/images/section-1-tile-1.jpeg');
}

#section-1-tile-2 {
  background-image: url('../../public/images/section-1-tile-2.jpeg');
}

.toggle {
    z-index: 10;
    position: relative;
    padding: 20px;
    background:tomato;
}

